@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-inconsolata: "Inconsolata", monospace;
  --font-gothic: "Special Gothic Expanded One", sans-serif;

  --color-react: #60d9f8;
  --color-vue: #3fb984;
}

@layer utilities {
  .text-fluid {
    font-size: clamp(48px, 8vw, 100px);
  }

  .base-fluid {
    font-size: clamp(14px, 280px, .95vw);
  }
}

body {
  font-family: var(--font-inconsolata);
}

.picture-animation-reset {
  opacity: 0;
  clip-path: inset(0% 0% 100% 0%);
}